<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chronica - Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="container text-center">
        <div class="logo">Chronica</div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="/new_entry" class="btn btn-chronica btn-chronica-add btn-block">
                    <span class="btn-icon">➕</span> Add Note
                </a>
            </div>
            <div class="col-md-4">
                <a href="/note_gallery" class="btn btn-chronica btn-chronica-gallery btn-block">
                    <span class="btn-icon">📁</span> Gallery
                </a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
